/* Color styles */
:root {
--bg-baja1: rgb(218, 220, 224);
--ellipse-8: rgb(52, 13, 207);
--ellipse-7: rgba(21, 0, 225, 1);
--ellipse-6: rgba(3, 21, 252, 1);
--ellipse-5: rgba(45, 15, 214, 1);
--ellipse-4: rgba(65, 11, 195, 1);
--ellipse-3: rgba(83, 8, 178, 1);
--ellipse-2: rgba(112, 3, 152, 1);
--ellipse-1: rgba(129, 1, 137, 1);
--neutros_100-blanco: rgba(255, 255, 255, 1);
--neutros_05-blanco: rgba(255, 255, 255, 0.7);
--neutros_99: rgba(252, 252, 253, 1);
--neutros_95: rgba(240, 240, 245, 1);
--neutros_90: rgba(225, 226, 234, 1);
--neutros_80: rgba(195, 197, 213, 1);
--neutros_70: rgba(165, 168, 192, 1);
--neutros_60: rgba(135, 139, 171, 1);
--neutros_50: rgba(105, 109, 150, 1);
--neutros_40: rgba(84, 88, 120, 1);
--neutros_30: rgba(63, 66, 90, 1);
--neutros_20: rgba(42, 44, 60, 1);
--neutros_10: rgba(21, 22, 30, 1);
--neutros_0-negro: rgba(0, 0, 0, 1);
--neutros_05-negro: rgba(0, 0, 0, 0.075);
--primario_99: rgba(250, 250, 255, 1);
--primario_95: rgba(232, 229, 255, 1);
--primario_90: rgba(209, 204, 255, 1);
--primario_80: rgba(163, 153, 255, 1);
--primario_70: rgba(116, 102, 255, 1);
--primario_60: rgba(70, 51, 255, 1);
--primario_50: rgba(24, 0, 255, 1);
--primario_40: rgba(19, 0, 204, 1);
--primario_30: rgba(14, 0, 153, 1);
--primario_20: rgba(10, 0, 102, 1);
--primario_10: rgba(5, 0, 51, 1);
--secundario_99: rgba(254, 250, 255, 1);
--secundario_95: rgba(252, 230, 255, 1);
--secundario_90: rgba(249, 204, 255, 1);
--secundario_80: rgba(242, 154, 254, 1);
--secundario_70: rgba(234, 88, 254, 1);
--secundario_60: rgba(225, 22, 253, 1);
--secundario_50: rgba(183, 1, 208, 1);
--secundario_40: rgba(125, 1, 142, 1);
--secundario_30: rgba(102, 1, 116, 1);
--secundario_20: rgba(80, 1, 91, 1);
--secundario_10: rgba(45, 0, 51, 1);
--error_99: rgba(252, 252, 252, 1);
--error_95: rgba(255, 237, 233, 1);
--error_99: rgba(252, 252, 252, 1);
--error_95: rgba(255, 237, 233, 1);
--error_90: rgba(255, 218, 212, 1);
--error_80: rgba(255, 180, 169, 1);
--error_70: rgba(255, 137, 122, 1);
--error_60: rgba(255, 84, 73, 1);
--error_50: rgba(221, 55, 48, 1);
--error_40: rgba(186, 27, 27, 1);
--error_30: rgba(147, 0, 6, 1);
--error_20: rgba(104, 0, 3, 1);
--error_10: rgba(65, 0, 1, 1);
--advertencia_99: rgba(254, 253, 251, 1);
--advertencia_95: rgba(252, 244, 233, 1);
--advertencia_90: rgba(249, 233, 210, 1);
--advertencia_80: rgba(242, 212, 166, 1);
--advertencia_70: rgba(236, 190, 121, 1);
--advertencia_60: rgba(230, 168, 76, 1);
--advertencia_50: rgba(223, 147, 32, 1);
--advertencia_40: rgba(179, 117, 25, 1);
--advertencia_30: rgba(134, 88, 19, 1);
--advertencia_20: rgba(89, 59, 13, 1);
--advertencia_10: rgba(45, 29, 6, 1);
--exito_99: rgba(251, 254, 251, 1);
--exito_95: rgba(233, 252, 233, 1);
--exito_90: rgba(210, 249, 212, 1);
--exito_80: rgba(166, 242, 169, 1);
--exito_70: rgba(121, 236, 126, 1);
--exito_60: rgba(76, 230, 82, 1);
--exito_50: rgba(32, 223, 39, 1);
--exito_40: rgba(25, 179, 31, 1);
--exito_30: rgba(19, 134, 24, 1);
--exito_20: rgba(13, 89, 16, 1);
--exito_10: rgba(6, 45, 8, 1);
--terciario: rgba(0, 176, 240, 1);
}